body,html{
    margin: 0;
    padding: 0;
     background: #bdc3c7;  
     background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  
     background: linear-gradient(to right, #2c3e50, #bdc3c7);
    color: white !important;
   

    
}

.wid{
    margin-top: 100px;
    margin-left: 100px;
    
}


.inp{
    padding: 10px !important;
    width: 300px;
}

.btnn{
    margin-left: 200px !important;
}
